@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,300&family=Roboto:wght@300;400;700&display=swap');

:root {
    --purple: #9479f7;   
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto','open sans';
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--purple);
}

table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
}

table td {
    padding: 1rem;
}

td {
    font-weight: bold;
}

td sup {
    font-weight: 500;
    margin-right: 0.2rem;
}